<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)"><ion-icon name="people-outline" slot="icon-only" color="primary"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="primary">Popover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="presentPopover($event)" expand="block">Click</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event)"><ion-icon name="people-outline" slot="icon-only" color="primary"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>