<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Medici&oacute;n de Agotados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dataContainer">
    <ion-label>{{param}}</ion-label>
  </div>
  <div class="dataContainer">
    <ion-label>{{param2}}</ion-label>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>
        <img src="../../assets/icons8-android-48.jpg" alt="">
        <h2> <strong>Realizar Medici&oacute;n</strong></h2>
        <ion-icon size="large" name="caret-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label >
        <img src="../../assets/icons8-autograph-48.jpg" alt="">
        <h2> <strong>Realizar Medici&oacute;n</strong></h2>
        <ion-icon size="large" name="caret-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <img src="../../assets/icons8-sand-timer-48.jpg" alt="">
        <h2> <strong>Realizar Medici&oacute;n</strong></h2>
        <ion-icon size="large" name="caret-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <img src="../../assets/icons8-cancel-subscription-48.jpg" alt="">
        <h2> <strong>Realizar Medici&oacute;n</strong></h2>
        <ion-icon size="large" name="caret-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <img src="../../assets/icons8-shutdown-48.jpg" alt="">
        <h2> <strong>Realizar Medici&oacute;n</strong></h2>
        <ion-icon size="large" name="caret-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
